.barraTareas{
    width: 55rem;
    height: 2rem;
    margin-top: 590px;
    background-color: black;
}
.carpeta{
    position: absolute;
    height: 86px;
    width: 97px;
    left: -668px;
    top: 1058px;
    border-radius: 190px;
    
}
.Hora{
    height: 86px;
    width: 166px;
    left: 1964px;
    top: 1058px;
    border-radius: 9px;
    text-align: right;
    
}