.barraTareas{
    width: 55rem;
    height: 2rem;
    margin-top: 590px;
    background-color: black;

    /* Alineación de items */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imagen2 {
    width: 1.8rem;
    height: 1.8rem;
}

.imagen3 {
    width: 1.8rem;
    height: 1.8rem;
}
.imagen4{
    width: 5rem;
    height: 1.8rem;
}
.imagenes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}